<!--
Name of File: v_aboutme.ejs
Name: Ryan Sterling
Student Number: 300509648
Date: Thursday, February 14, 2019
-->

<div class="container" style="padding-top: 50px;">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">

                <img src="/Assets/puzzled.png" class="figure-img img-fluid rounded" alt="..." >
            <br>
            <p>Hello my name is Ryan Sterling and I’m an Software Developer.
                I’ve developed a far range of products ranging from websites, databases, responsive mobile applications
                and games.
                I’m always looking forward to new projects to help bring to life. </p>
                <a href="/Assets/old resume link.pdf">Take a look at my resume here</a>
        </div>
    </div>
</div>