<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <form>
                First name:<br>
                <input type="text" name="input_fName"><br>
                Last name:<br>
                <input type="text" name="input_lName">
                Address:<br>
                <input type="text" name="input_addr"><br>
                Contact Number:<br>
                <input type="text" name="input_cnum">
                Message:<br>
                <input type="text" name="input_mess"><br>
            </form>
        </div>
    </div>
</div>