<!--
Name of File: w_project.ejs
Name: Ryan Sterling
Student Number: 300509648
Date: Thursday, February 14, 2019
-->

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <img src="/Assets/cube.png" class="figure-img img-fluid rounded" alt="...">
    </div>
    <div class="col-sm-12 col-md-6">
      <p class="figure-caption">This is my one of my web development projects where I utilized
        typescript to complete.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <img src="/Assets/solar.png" class="figure-img img-fluid rounded" alt="...">
    </div>
    <div class="col-sm-12 col-md-6">
      <p class="figure-caption">This was a visual representation of a fictional solar system I developed
        using threejs</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-6">
    <img src="/Assets/koj.png" class="figure-img img-fluid rounded" alt="...">
  </div>
  <div class="col-sm-12 col-md-6">
    <P class="figure-caption">This was a bullet hell game I helped developed utilizing Javascript.
    </P>
  </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6">
        <img src="/Assets/overthetop.png" class="figure-img img-fluid rounded" alt="...">
      </div>
    <div class="col-sm-12 col-md-6">
      <P class="figure-caption">And this was first person *bomberman type* game called Dynoman developed by my team and I where we
          developed the models using blender, developed the game scenario using Unity, and coded it using C#.
      </P>
    </div>
  </div>
</div>

<!-- Header Row-->

</div>
</div>
</div>