<!--
Name of File: w_project.ejs
Name: Ryan Sterling
Student Number: 300509648
Date: Thursday, February 14, 2019
-->

<div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
          <table class="table table-bordered table-striped table-hover">
        <!-- Header Row-->
        <tr>
          <td><img src="/Assets/cube.png" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption">This is my one of my web development projects where I utilized typescript to complete</figcaption>
          </td>
          <td><img src="/Assets/solar.png" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption">This was a visual representation of a fictional solar system I developed using threejs</figcaption>
          </td>
          <td><img src="/Assets/koj.png" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption">This was a bullet hell game I helped developed utilizing Javascript </figcaption>
          </td>
          <td><img src="/Assets/overthetop.png" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption">And this was first person bomberman developed by my team and I where we developed the models using blender, developed the game scenario using Unity, and coded it using C#</figcaption>
          </td>
        </tr>
    </div>
  </div>
</div>