<!--
Name of File: w_services.ejs
Name: Ryan Sterling
Student Number: 300509648
Date: Thursday, February 14, 2019
-->
<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <h1>Here are a few of the services I can provide you!</h1>
      <br>
      <table class="table table-bordered table-striped table-hover">
        <!-- Header Row-->
        <tr>
          <td><img src="/Assets/csharp.png" class="figure-img img-fluid rounded" alt="..." >
            <figcaption class="figure-caption">General Programming Services</figcaption>
          </td>
          <td><img src="/Assets/mean.jpg" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption">Mean Stack Web Development</figcaption>
          </td>
          <td><img src="/Assets/threejs.png" class="figure-img img-fluid rounded" alt="..." width="200" height="200">
            <figcaption class="figure-caption">Game Programming</figcaption>
          </td>
        </tr>
        <tr>
          <td><img src="/Assets/mobileapp.png" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption">Mobile App Development</figcaption>
          </td>
          <td><img src="/Assets/business.png" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption">Business Analyzing</figcaption>
          </td>
          <td><img src="/Assets/database.jpg" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption">Database Management</figcaption>
          </td>
        </tr>

      </table>

    </div>
  </div>
</div>