<!--
Name of File: index.ejs
Name: Ryan Sterling
Student Number: 300509648
Date: Thursday, February 14, 2019
Website: https://ryans-express-portfolio.herokuapp.com/
-->

<% include ./partials/header.ejs %>

<div class="container">

  <h1 class="display-4"> <%= title %></h1>

  <!-- Services-->

  <% if (title == "Services") { %>

  <% include ./partials/v_services.ejs %>

  <% } %>

  <!-- Mission Statement-->
  <% if (title == "Home") { %>

  <% include ./partials/v_missionstatement.ejs %>

  <% } %>

  <!-- About Me-->
  <% if (title == "About") { %>

  <% include ./partials/v_aboutme.ejs %>

  <% } %>

  <!-- Projects-->
  <% if (title == "Projects") { %>

  <% include ./partials/v_projects.ejs %>

  <% } %>

  <!-- Contact Me-->
  <% if (title == "Contact") { %>


  <% include ./partials/v_contact.ejs %>
  <!--<a class="btn btn-primary" href="/contact-list" role="button">Submit</a>-->

  <% } %>


</div>
</div>

<% include ./partials/footer.ejs %>