<% include ./partials/header.ejs %>

<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %></h1>
    <% if (title == "Contact") { %>
    <a class="btn btn-primary" href="/contact-list" role="button">Contact</a>

    <!-- Services Partially-->
    <% } %>
    <% if (title == "Services") { %>

    <% include ./partials/v_services.ejs %>

    <% } %>

    <!-- Mission Statement-->
    <% if (title == "Home") { %>

    <% include ./partials/v_missionstatement.ejs %>

    <% } %>

    <!-- About Me-->
    <% if (title == "About Me") { %>

    <% include ./partials/v_aboutme.ejs %>

    <% } %>


  </div>
</div>

<% include ./partials/footer.ejs %>